# <center> A Glimpse to pandas</center>

In [1]:
# import pandas and numpy library  :
import pandas as pd
import numpy as np

## Object Creation

In [2]:
# creating  a list by passing a list of values :
s = pd.Series([1, 3, 5, 7, np.nan, 90])    # ------ np.nan --> not a number.
s

0     1.0
1     3.0
2     5.0
3     7.0
4     NaN
5    90.0
dtype: float64

Creating a ```DataFrame``` by passing a Numpy Array, witha  datetime index ```date_range()``` and labeled columns:

In [3]:
dates = pd.date_range("20230718", periods=6)
dates

DatetimeIndex(['2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21',
               '2023-07-22', '2023-07-23'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-07-18  0.984260 -1.934985  0.442002 -0.418782
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424
2023-07-20 -0.892371  0.482827  1.077567  0.336986
2023-07-21 -0.106327  0.352453  0.471380  2.064067
2023-07-22 -0.941600 -1.556592 -0.282627  0.968725
2023-07-23  0.137428  0.508949 -0.234459  0.599201

Creating a DataFrame by passing a dictionary of objects that can be converted into a  series like structure :

In [5]:
df2 = pd.DataFrame({
    "A" : 1.0,
    "B" : pd.Timestamp("20230714"),
    "C" : pd.Series(1, index=list(range(4)), dtype="float32"), # defining Series with speciic index and n_rows = 4
    "D" : np.array([3]*4, dtype="int32"),
    "E" : pd.Categorical(["test", "train", "test", "train"]),
    "F" : "foo",
})
# print(df2)
df2

# Number of rows / record should be same

     A          B    C  D      E    F
0  1.0 2023-07-14  1.0  3   test  foo
1  1.0 2023-07-14  1.0  3  train  foo
2  1.0 2023-07-14  1.0  3   test  foo
3  1.0 2023-07-14  1.0  3  train  foo

Checking the ```dtypes``` of different columns :

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## <b>Available options for DataFrame -> column attributes are :

df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.columns
df2.align              df2.copy
df2.all                df2.count
df2.any                df2.combine
df2.append             df2.D
df2.apply              df2.describe
df2.applymap           df2.diff
df2.B                  df2.duplicated

## Checking ```dtype(s)```

In [7]:
df2.E

0     test
1    train
2     test
3    train
Name: E, dtype: category
Categories (2, object): ['test', 'train']

In [8]:
# type of column E
type(df2.E)

pandas.core.series.Series

In [9]:
df2.E.dtypes

CategoricalDtype(categories=['test', 'train'], ordered=False)

In [10]:
df2.E.dtype

CategoricalDtype(categories=['test', 'train'], ordered=False)

**Series**
* dtype
* dtypes

**DataFrame**
* dtypes

In [11]:
# type of df2
type(df2)

pandas.core.frame.DataFrame

## Viewing data

df.head()

df.tail()  # by default 5 values --- df.tail(n)

df.index

df.columns

In [12]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

## df to np_array conversion :

Main Diff. b/w pandas and np_array:
* NumPy arrays have only one dtype for  the entire array, while pandas df have one dtype for each column.

**df.to_numpy()**

In [13]:
df.to_numpy()

array([[ 0.98426048, -1.93498542,  0.44200227, -0.41878151],
       [-0.2871197 , -1.39924421,  0.33935444, -0.3194237 ],
       [-0.89237106,  0.48282679,  1.07756729,  0.33698561],
       [-0.10632715,  0.35245337,  0.47138046,  2.06406715],
       [-0.94159954, -1.55659234, -0.28262742,  0.96872489],
       [ 0.13742844,  0.5089493 , -0.23445912,  0.59920129]])

**Note : ```df.to_numpy()``` does not include the index or column labels in the output.**

## Conversion of pandas df to other formats :

To CSV (Comma-Separated Values):

In [14]:
df.to_csv('filename.csv', index=False)

To Excel:

In [16]:
df.to_excel('filename.xlsx', index=False)

To JSON:

In [17]:
df.to_json('filename.json', orient='records')

To SQL Database (e.g., SQLite, MySQL, PostgreSQL):

In [19]:
import sqlite3

# For SQLite
with sqlite3.connect('database.db') as conn:
    df.to_sql('table_name', conn, index=False, if_exists='replace')

To HTML:

In [20]:
df.to_html('filename.html', index=False)
df2.to_html('filename2.html',)

To Parquet (Apache Arrow):

In [22]:
df.to_parquet('filename.parquet', index=False)

To Feather (lightweight binary format):

In [ ]:
# df.to_feather('filename.feather')

To Pickle (Python object serialization):

In [24]:
df.to_pickle('filename.pkl')

To Clipboard (copy to clipboard for pasting into other applications):

In [27]:
# df.to_clipboard(index=False)

In [30]:
# import pyperclip
# pyperclip.copy("Testing clipboard")
# print(pyperclip.paste())

## Summary of data

In [31]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.184288 -0.591099  0.302203  0.538462
std    0.715620  1.152824  0.506116  0.917514
min   -0.941600 -1.934985 -0.282627 -0.418782
25%   -0.741058 -1.517255 -0.091006 -0.155321
50%   -0.196723 -0.523395  0.390678  0.468093
75%    0.076490  0.450233  0.464036  0.876344
max    0.984260  0.508949  1.077567  2.064067

Transpose the df

In [32]:
df.T # or df.transpose()

   2023-07-18  2023-07-19  2023-07-20  2023-07-21  2023-07-22  2023-07-23
A    0.984260   -0.287120   -0.892371   -0.106327   -0.941600    0.137428
B   -1.934985   -1.399244    0.482827    0.352453   -1.556592    0.508949
C    0.442002    0.339354    1.077567    0.471380   -0.282627   -0.234459
D   -0.418782   -0.319424    0.336986    2.064067    0.968725    0.599201

In [33]:
df.transpose()

   2023-07-18  2023-07-19  2023-07-20  2023-07-21  2023-07-22  2023-07-23
A    0.984260   -0.287120   -0.892371   -0.106327   -0.941600    0.137428
B   -1.934985   -1.399244    0.482827    0.352453   -1.556592    0.508949
C    0.442002    0.339354    1.077567    0.471380   -0.282627   -0.234459
D   -0.418782   -0.319424    0.336986    2.064067    0.968725    0.599201

## Sorting df

**by index**

In [34]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-07-18 -0.418782  0.442002 -1.934985  0.984260
2023-07-19 -0.319424  0.339354 -1.399244 -0.287120
2023-07-20  0.336986  1.077567  0.482827 -0.892371
2023-07-21  2.064067  0.471380  0.352453 -0.106327
2023-07-22  0.968725 -0.282627 -1.556592 -0.941600
2023-07-23  0.599201 -0.234459  0.508949  0.137428

**by value**

In [35]:
df.sort_values(by="A")

                   A         B         C         D
2023-07-22 -0.941600 -1.556592 -0.282627  0.968725
2023-07-20 -0.892371  0.482827  1.077567  0.336986
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424
2023-07-21 -0.106327  0.352453  0.471380  2.064067
2023-07-23  0.137428  0.508949 -0.234459  0.599201
2023-07-18  0.984260 -1.934985  0.442002 -0.418782

## Selection :

* df.at()
* df.iat()
* df.loc()
* df.iloc()

In [36]:
df["A"]  # output is pandas Series

2023-07-18    0.984260
2023-07-19   -0.287120
2023-07-20   -0.892371
2023-07-21   -0.106327
2023-07-22   -0.941600
2023-07-23    0.137428
Freq: D, Name: A, dtype: float64

In [37]:
df[0:3]  # row slicing

                   A         B         C         D
2023-07-18  0.984260 -1.934985  0.442002 -0.418782
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424
2023-07-20 -0.892371  0.482827  1.077567  0.336986

In [38]:
df["20230718":"20230720"]

                   A         B         C         D
2023-07-18  0.984260 -1.934985  0.442002 -0.418782
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424
2023-07-20 -0.892371  0.482827  1.077567  0.336986

**Selection by label**
* df.loc()
* df.at()

In [39]:
df.loc[dates[0]]  # by using a particular label

A    0.984260
B   -1.934985
C    0.442002
D   -0.418782
Name: 2023-07-18 00:00:00, dtype: float64

**During label slicing ```both endpoints included```.**

In [40]:
df.loc[:, ["A","C"]]

                   A         C
2023-07-18  0.984260  0.442002
2023-07-19 -0.287120  0.339354
2023-07-20 -0.892371  1.077567
2023-07-21 -0.106327  0.471380
2023-07-22 -0.941600 -0.282627
2023-07-23  0.137428 -0.234459

In [41]:
df.loc["20230718":"20230709",["A","B"]]

Empty DataFrame
Columns: [A, B]
Index: []

**Dimension will be reduced -- if only one row will be sliced with columns**

In [42]:
df.loc["20230718",["A", "D"]]

A    0.984260
D   -0.418782
Name: 2023-07-18 00:00:00, dtype: float64

In [43]:
df.loc[dates[1],"C"]  # getting a ascalar value

0.33935444447497565

**for getting fast access to a scalar (equialent to ```loc method```) we use ```at method``` :**

In [44]:
df.at[dates[0], "A"]

0.9842604779775622

In [45]:
df

                   A         B         C         D
2023-07-18  0.984260 -1.934985  0.442002 -0.418782
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424
2023-07-20 -0.892371  0.482827  1.077567  0.336986
2023-07-21 -0.106327  0.352453  0.471380  2.064067
2023-07-22 -0.941600 -1.556592 -0.282627  0.968725
2023-07-23  0.137428  0.508949 -0.234459  0.599201

The ```DataFrame.at[]``` method in Pandas is used to ```access or modify a specific value``` in a DataFrame by using its row and column labels

## Selection by position(index)

* df.iloc()
* df.iat()

In [46]:
df.iloc[3:5, 0:2]

                   A         B
2023-07-21 -0.106327  0.352453
2023-07-22 -0.941600 -1.556592

In [47]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2023-07-19 -0.287120  0.339354
2023-07-20 -0.892371  1.077567
2023-07-22 -0.941600 -0.282627

In [48]:
df.iat[1,1]

-1.3992442093979967

## Boolean Indexing

In [49]:
# Using a single column's value to select data of a df

df[df["A"] > 0]

                   A         B         C         D
2023-07-18  0.984260 -1.934985  0.442002 -0.418782
2023-07-23  0.137428  0.508949 -0.234459  0.599201

In [50]:
# Selecting values from a df

df[df>0]

                   A         B         C         D
2023-07-18  0.984260       NaN  0.442002       NaN
2023-07-19       NaN       NaN  0.339354       NaN
2023-07-20       NaN  0.482827  1.077567  0.336986
2023-07-21       NaN  0.352453  0.471380  2.064067
2023-07-22       NaN       NaN       NaN  0.968725
2023-07-23  0.137428  0.508949       NaN  0.599201

## ```isin()``` method -- filter

In [51]:
# copy a DataFrame
df2 = df.copy()

In [52]:
# adding extra column (in similar way we can modify also)

df2["E"] = ["one", "two", "three", "four", "five", "six"]

df2

                   A         B         C         D      E
2023-07-18  0.984260 -1.934985  0.442002 -0.418782    one
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424    two
2023-07-20 -0.892371  0.482827  1.077567  0.336986  three
2023-07-21 -0.106327  0.352453  0.471380  2.064067   four
2023-07-22 -0.941600 -1.556592 -0.282627  0.968725   five
2023-07-23  0.137428  0.508949 -0.234459  0.599201    six

```df.isin(["..", "..."]) --> boolean value -- masking type -- used for extraction/selection from a df```

In [53]:
df2[df2["E"].isin(["two","three"])]

                   A         B         C         D      E
2023-07-19 -0.287120 -1.399244  0.339354 -0.319424    two
2023-07-20 -0.892371  0.482827  1.077567  0.336986  three

In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

# Check if 'Bob' and 'David' are present in the 'Name' column
result = df['Name'].isin(['Bob', 'David'])
print(result)

0    False
1     True
2    False
3     True
Name: Name, dtype: bool

In [3]:
filtered_df = df[result]
print(filtered_df)

    Name  Age
1    Bob   30
3  David   28

we can use the "isin" method directly on a Pandas DataFrame to check if elements exist within the entire DataFrame.

In [4]:
# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

# Check if each element in the DataFrame is in the specified list
result = df.isin(['Bob', 'David', 22])
print(result)

    Name    Age
0  False  False
1   True  False
2  False   True
3   True  False

The resulting DataFrame contains boolean values, where True indicates that the element at that position in the DataFrame matches any of the elements in the specified list, and False indicates that it does not.

In [5]:
filtered_df = df[result.any(axis=1)]
print(filtered_df)

      Name  Age
1      Bob   30
2  Charlie   22
3    David   28

NEXT Notebook